@page
@model WebApplication1.pages.TagHelpPlayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagHelpPlay</title>
</head>
<body>

    <form method="post">


        <label asp-for="Number1"></label>

        <input asp-for="Number1" />


        <label asp-for="Number2"></label>

        <input asp-for="Number2" />


        <label asp-for="Number3"></label>

        <input asp-for="Number3" />


        <label asp-for="Number4"></label>

        <input asp-for="Number4" />


        <label asp-for="Number5"></label>

        <input asp-for="Number5" />


        <label asp-for="Number6"></label>

        <input asp-for="Number6" />


        <label asp-for="Number7"></label>

        <input asp-for="Number7" />


        <label asp-for="Number8"></label>

        <input asp-for="Number8" />


        <label asp-for="String1"></label>

        <input asp-for="String1" />


        <label asp-for="Time1"></label>

        <input asp-for="Time1" />


        <label asp-for="Time2"></label>

        <input asp-for="Time2" />


        <label asp-for="IsContactAllowed"></label>

        <input asp-for="IsContactAllowed" />


        <label for="Spring">Spring</label>
        <input type="radio" value="Spring" id="Spring" asp-for=Season />

        <label for="Summer">Summer</label>
        <input type="radio" value="Summer" id="Summer" asp-for=Season />

        <label for="Autumn">Autumn</label>
        <input type="radio" value="Autumn" id="Autumn" asp-for=Season />

        <label for="Winter">Winter</label>
        <input type="radio" value="Winter" id="Winter" asp-for=Season />

        <button type="submit">Click Me</button>

        <br />

        <h1>@Model.Message</h1>

    </form>

</body>
</html>
